@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,500;1,900&display=swap");
$mainColor: #0050b2;
$textColor: #fff;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
:focus {
  outline: none;
}
